$card-background-color: #242424;
$card-border-color: rgb(255 255 255 / 87%);
$card-border-color-visited: #00FFFF;
$card-color: rgb(255 255 255 / 87%);
$icon-color: rgb(255 255 255 / 87%);
$icon-color-active: #00FFFF;
$input-border-hover: #00FFFF;
