.searchbar {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.searchbar__input {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border-color: transparent;
}

.searchbar__input:focus-visible {
  border-color: transparent;
  outline: none;
}

.searchbar__btn {
  border-color: rgba(255, 255, 255, 0.87);
}
